@import "@workspace/ui/globals.css";

/* Minimal Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}

@layer utilities {
  .drag-css {
    -webkit-app-region: drag;
  }

  .no-drag-css {
    -webkit-app-region: no-drag;
  }

  /* Disable text selection globally for desktop app */
  .select-none,
  .select-none * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .wrap-break-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}